.App{
    background: rgb(238, 69, 74);
    height: 100vh;

    background: rgb(24,0,2);
    background: linear-gradient(180deg, rgba(24,0,2,0.9766281512605042) 10%, rgba(74,0,12,1) 38%, rgba(119,0,15,1) 66%, rgba(200,0,23,1) 100%);
}